* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.clear {
    display: none;
}

span {
    color: white;
}

.mac-wrapper {
    width: 100%;
    height: 100%;
}

.mac-wrapper .mac-outer {
    margin: 0 auto;
    position: relative;
    height: 220px;
    width: 320px;
    background: rgb(143,141,142);
    background: linear-gradient(107deg, rgb(163, 163, 163) 0%, rgba(123,123,123,1) 6%, rgba(33,29,28,1) 34%);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.mac-wrapper .webcam {
    position: absolute;
    top: 3px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #363435;
    border-radius: 50%;
    padding: 2px;
    z-index: 2;
}

.mac-wrapper .mac-text {
    font-size: 6px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.mac-wrapper .mac-screen {
    height: 200px;
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.mac-wrapper .mac-body {
    position: relative;
    height: 10px;
    width: 360px;
    margin: 0 auto;
    background: rgb(226,227,229);
    background: linear-gradient(circle, rgba(226,227,229,1) 0%, rgba(190,193,198,1) 65%, rgba(210,210,212,1) 86%, rgba(227,239,239,1) 100%);
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.mac-wrapper .body-light {
    height: 1px;
    width: 10px;
    background-color: #6d6c71;
    position: absolute;
    left: 10px;
    top: 50%;
}

.mac-wrapper .mac-body-wrapper {
    margin: 0 auto;
    height: 20px;
    border-radius: 10px;
    background: rgb(161,162,166);
    background: linear-gradient(180deg, rgba(161,162,166,1) 0%, rgb(226,227,229) 50%, rgb(148, 147, 148) 75%, rgb(104, 104, 104) 100%);
    width: 360px;
}

.mac-wrapper .screen-lock {
    width: 40px;
    height: 50%;
    background: rgb(191,191,193);
    background: linear-gradient(180deg, rgba(191,191,193,1) 0%, rgba(134,135,137,1) 100%);
    position: absolute;
    left: 50%;
    transform:translateX(-50%);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

/* Nav-Style */

.nav ul  {
    margin: 0;
    padding: 0;
}

.nav ul li {
    display: inline-block;
}

.nav a {
    color: #26292e;
    padding: 4px;
    background-color: white;
    border-radius: 50%;
    font-variant-numeric: tabular-nums;
    font-size: 22px;
}

/* Header */

.header {
    background-color: #26292e;
}

.inner {
    width: 960px;
    margin: 0 auto;
}

.header .inner {
    display: flex;
    justify-content: space-between;
}

.header h1 {
    margin: 0;
    font-family: "Cedarville Cursive";
    color: white;
    text-transform: capitalize;
    font-weight: 200;
    top: 10px;
}

.header h1 {
}

.header .nav {
    margin-top: 18px;
}

/* Main */

.main .section1 {
    background: rgb(239,141,166);
    background: radial-gradient(ellipse at top, rgba(239,141,166,1) 0%, rgba(231,113,139,1) 50%, rgba(231,113,139,1) 100%);
}

.main .section1 h2 {
    color: white;
    margin-top: 0px;
}

.main .section1 .inner {
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
}

.main .section1 .block {
    width: 50%;
}

.main .section1 .block1 {
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
}

.main .section1 button {
    background: linear-gradient(#5f5d5e, #2e302f);
    color: white;
    border: none;
    padding: 10px;
    border-top: #8b8a88 solid 2px;
    border-right: #8b8a88 solid 2px;
    margin-left: 4px;
}

.main .section1 .block2 {
    margin-top: 40px;
}

.main .section2 {
    border-bottom: solid #f7e4e8 12px;
}

.main .section2 .inner {
    display: flex;

}

.main .section2 p {
    color: #c0c0c2;
}

.main .section2 .block {
    width: calc(100% / 3);
    padding-top: 40px;
    padding-bottom: 60px;
}

.main .section2 .block2 {
    left: calc(100% / 3);
}

.main .section3 {
    padding: 80px 0;
}

.main .section3 .block {
    width: calc(100% / 2);
}

.main .section3 .inner {
    display: flex;
}

.main .section3 .block1 {
}

.main .section3 .image-container {
    width: 80%;
}

.main .section3 .img-wrapper {
    position: relative;
    background-color: #444444;
    width: 160px;
    height: 86px;
    box-shadow: 0 8px 20px -2px grey;
    border: solid 5px #bdc1cd;
}

.main .section3 img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main .section3 .img-position {
    float: left;
    margin-bottom: 40px;
}

.main .section3 .img-position:nth-child(2) {
    margin-left: 40px;
}

.main .section3 .img-position:nth-child(4) {
    margin-left: 40px;
}


.main .section3 .block2 {
}

.main .section3 h2 {
    margin: 0 0 20px 0;
    display: inline-block;
}

.main .section3 .block2 p {
    color: #c0c0c2;
    display: inline-block;
    margin-right: 0;
    margin-left: auto;
}

.main .section3 .block2 .name {
    font-weight: bold;
}

.footer {
    color: white;
    background-color: #26292e;
} 

.footer .inner {
    display: flex;
    justify-content: space-between;
}

.footer .inner .nav {
    margin-top: 20px;
    margin-bottom: 20px;
}

.footer .inner p {
    margin: 0;
    margin-top: 20px;
    margin-bottom: 20px;
}